@model IEnumerable<Olbrasoft.Travel.Data.Transfer.Objects.CountryItem>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

@foreach (var country in Model)
{
    <div>
    @country.Name - @country.Code  
    </div>
}

</body>
</html>
