@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false">Languages</a>
<ul class="row dropdown-menu">
    <li class="col-sm-3 col-xs-2">
        <ul class="list-unstyled">
            <li>Hotels Grid View</li>
            <li class=""><a asp-route-culture="cs" >Čeština</a></li>
            <li class=""><a href="hotels-grid-right-sidebar.html">Hotels Sidebar Right</a></li>
            <li class=""><a href="hotels-grid.html">Hotels 3 Columns</a></li>
        </ul>
    </li>
    <li class="col-sm-3 col-xs-12">
        <ul class="list-unstyled">
            <li>Hotels List View</li>
            <li class=""><a  asp-route-culture="en-US">Angličtina</a></li>
            <li class=""><a href="hotels-list-right-sidebar.html">Hotels Sidebar Right</a></li>
            <li class=""><a href="hotels-list.html">Hotels List</a></li>
        </ul>
    </li>
    
</ul>