@model IEnumerable<Olbrasoft.Travel.Data.Transfer.Object.ContinentItem>
@{
    ViewBag.Title = "TravelDatabaseContext";
}

<section class="mainContentSection ">
    <div class="container">
        <h2>Travel</h2>
        <div>
            <a asp-controller="Accommodations" asp-action="Index">Accommodations</a>
            <br />
            @foreach (var continent in Model)
            {
                <div>
                    <a asp-controller="Home" asp-action="Continent" asp-route-id="@continent.Id">@continent.Name</a>
                </div>
            }
        </div>
    </div>
</section>