@model IEnumerable<Olbrasoft.Travel.Data.Transfer.Object.ContinentItem>
@{
    ViewBag.Title = "TravelDatabaseContext";
}

<h2>Travel</h2>
<div>

    @Html.ActionLink("Accommodations", "Index", "Accommodations", new {area = ""})
    <br/>
    @foreach (var continent in Model)
    {
        <div>
            @Html.ActionLink(continent.Name, "Continent",   // <-- ActionMethod
            "Home",  // <-- Controller Name.
            new { continent.Id }, // <-- Route arguments.
            null  // <-- htmlArguments .. which are none. You need this value
                //     otherwise you call the WRONG method ...
                //     (refer to comments, below).
                )
        </div>
    }
</div>
 